#!/bin/csh -f

#
# IMPC LacZ configuration
#

# data, log and report directories
setenv FILEDIR		/mgi/all/wts_projects/12000/12026
setenv DATADIR		${FILEDIR}/data
setenv IMAGELOADDATADIR	${DATADIR}
setenv LOGDIR		${FILEDIR}/logs
setenv RPTDIR		${FILEDIR}/reports

setenv IMAGE_DOWNLOADDIR	/data/downloads/lacz/images
setenv PIX_MAPPING	${DATADIR}/impclacz-pixload.mapping
setenv INPUT_FILE	${DATADIR}/ImageLoader.txt
setenv IMAGEFILE	${DATADIR}/image.txt
setenv IMAGEPANEFILE	${DATADIR}/imagepane.txt
setenv IMAGEERRORFILE   ${DATADIR}/image.error
setenv OUTFILE_QUALIFIER        GXD
setenv IMAGELOADMODE    load
setenv REFERENCE	J:228563

source ./Configuration

# Override Created By
setenv CREATEDBY        cms
