#!/bin/csh

#
# tr7167.config
#
# Source this file from any csh script to set the
# env variables
#

# install directory
setenv INSTALLDIR	/home/lec/loads/gxdimageload
setenv TR7167		/mgi/all/wts_projects/7100/7167

# data, log and report directories
setenv FILEDIR		${TR7167}
setenv DATADIR		${FILEDIR}/data
setenv LOGDIR		${FILEDIR}/logs
setenv RPTDIR		${FILEDIR}/reports

# schema directory
setenv SCHEMADIR	/home/lec/db/live/mgddbschema

# Pixel DB Data Directory
setenv PIXELDBDATA	/usr/local/mgi/pixeldb_data

# Pixel DB Accession Counter
setenv PIXELDBCOUNTER	$PIXELDBDATA/accession/counter

setenv MGINOTELOAD	/home/lec/loads/noteload/mginoteload.py
setenv COPYRIGHTFILE	${DATADIR}/IMG_Copyright.in
setenv OBJECTTYPE	Image
setenv NOTETYPE		Copyright

setenv GXDIMAGELOAD	${INSTALLDIR}/gxdimageload.py
setenv GXDIMGLOADDATADIR	${DATADIR}

# Load Mode
setenv LOADMODE		load

# Created By
setenv CREATEDBY	jfinger

source ${SCHEMADIR}/Configuration

