#!/bin/csh

#
# TR 8985 defaults
#
#

# data, log and report directories
setenv FILEDIR	/mgi/all/wts_projects/8900/8985
setenv LOGDIR	${FILEDIR}/logs
setenv IMAGELOADDATADIR	${FILEDIR}/data
setenv IMAGEFILE	${IMAGELOADDATADIR}/image.txt
setenv IMAGEPANEFILE	${IMAGELOADDATADIR}/imagepane.txt
setenv IMAGEERRORFILE	${IMAGELOADDATADIR}/image.error
setenv COPYRIGHTFILE	${IMAGELOADDATADIR}/imagecopyright.txt
setenv CAPTIONFILE	${IMAGELOADDATADIR}/imagecaption.txt
setenv OUTFILE_QUALIFIER	GXD
setenv IMAGELOADMODE	load

source ./Configuration

