#!/bin/csh -f

#
# TR 8985 defaults
#
#

# data, log and report directories
setenv FILEDIR	/mgi/all/wts_projects/8900/8985
setenv LOGDIR	${FILEDIR}/logs
setenv DATADIR	${FILEDIR}/data
setenv IMAGELOADDATADIR	${DATADIR}
setenv IMAGEFILE	${DATADIR}/image.txt
setenv IMAGEPANEFILE	${DATADIR}/imagepane.txt
setenv IMAGEERRORFILE	${DATADIR}/image.error
setenv COPYRIGHTFILE	${DATADIR}/imagecopyright.txt
setenv CAPTIONFILE	${DATADIR}/imagecaption.txt
setenv OUTFILE_QUALIFIER	GXD
setenv IMAGELOADMODE	load

source ./Configuration

